
.cartItem-container{
  width:400px;
  height:150px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:15px;
}
.cartItem-container .cartItem-box{
  width:100%;
  height:100%;
  background-color: rgb(255, 255, 255);
  padding:15px;
  border-radius: 7px;
  transition: all 0.3s linear;
}
.cartItem-container .cartItem-box .cartItem{
  display:flex;
  height:100%;
}
.cartItem-container .cartItem-box:hover{
  box-shadow:-5px 5px 5px rgb(121, 121, 121);
}
.cartItem-container .cartItem-box .cartItem .img-box{
  width: 35%;
  display:flex;
  justify-content:center;
  align-items: center;
  position: relative;
}
.cartItem-container .cartItem-box .cartItem .img-box img{
  width: 95%;
  height: 95%;
  object-fit: fill;
  position: absolute;
  border-radius: 7px;
  transition: all 0.3s linear;
}
.cartItem-container .cartItem-box .cartItem .img-box img:hover{
  width: 100%;
  height: 100%;
}
.cartItem-container .cartItem-box .cartItem .product-name-price{
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding:15px;
  font-size: 0.9em;
}
.product-name-price .product-name{
  display:flex;
  justify-content:start;
  align-items: center;
  width:100%;
  
}
.product-name-price .price{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  color:green;
  width:100%;
}
.cartItem-container .cartItem-box .cartItem .number{
  width: 10%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  color:blue;
}
.cartItem-container .cartItem-box .cartItem .counter{
  width: 15%;
  display:flex;
  justify-content:center;
  align-items: center;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cartItem-container{
    width:600px;
    height:200px;
  }
  .cartItem-container .cartItem-box .cartItem .product-name-price{
    padding:25px;
    font-size: 1em;
  }
} 