.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
 ;
}
.card-box{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 250px;
}
.card{
  padding: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s linear;
}
.card:hover{
  box-shadow: -5px 5px 5px rgb(133, 132, 132);
}
.card .img-box img:hover{
  width:105%;
  height:105%;
}
.card .img-box{
  flex: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product-name{
  flex: 1;
  display: flex;
  align-items: center;
}
.img-box img{
  position: absolute;
  width:95%;
  height:95%;
  cursor: pointer;
  transition: all 0.3s linear;
}
.price-save-container{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.price-save-container .save{
  cursor: pointer;
  transition: all 0.5s linear;
}
.price-save-container .save:hover{
  font-size: 1.1em;
}
.details-addtocart{
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex: 1;
}
.details{
  color: blue;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.5s linear;
}
.add-to-cart{
  cursor: pointer;
  background-color: rgb(25, 118, 210);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.details:hover{
  color: rgb(4, 4, 164);
  font-weight:600;
}
.add-to-cart:hover{
  cursor: pointer;
  background-color: rgb(18, 82, 147);
}
.counter{
  display: flex;
  justify-content:center;
  align-items:center;
}
.decrease, .increase, .number{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.number{
  width:30px;
}
/* class hidden for add to cart and counter  */
.addtocart-counter-hidden{
  display: none;
}