.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.form-box{
  background-color: rgb(238, 237, 237);
  padding: 30px 20px;
  width:320px;
  border-radius: 7px;
}
.form-box form{
  margin-top: 10px;
}
.form-box form .input-group p a, .form-box h1{
  color: blue;
}
.form-box form .input-group .input-field .input{
  background:white;
  border-radius: 5px;
  display:flex;
  justify-content:start;
  align-items:center;
  padding-left: 3px;
}
.form-box form .input-group .input-field input{
  height:40px;
  border: none;
  outline: none;
  background:white;
  padding-left: 5px;
  width: 100%;
  border-radius:7px;
}
.form-box form .input-group .input-field .err-msg-box{
  height:25px;
  font-size: 0.8em;
  display:flex;
  justify-content:start;
  align-items:center;
  color: rgb(237, 5, 5);
  padding-left: 3px;
}
.btn-field{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 10px;
}
.btn-field button{
  display:flex;
  justify-content:center;
  align-items: center;
  padding: 8px 12px;
  background-color:blue;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s linear;
}
.btn-field button:hover{
  background-color:rgb(2, 2, 205);
  cursor: pointer;
}
.input-field-height{
  height:0px;
  overflow:hidden;
}